<div style="width:100%; background-color: #B32BF2; color: #ffffff; width:100%;">
  <% @bdays.each do |bday|%>
    <%= "Wishing a Many more happy returns of the day to" %><br/>
    <%= "#{bday.name}" %>
    <br/>
    <%= "Completed Age:" %> : <%= "#{Time.now.year - bday.date_of_birth.year}" %>
    <br/>
    <%= "Have a Successful year ahead." %>

  <% end %>
  <%= render :partial => 'user_mailer/footer' %>
</div>